@model EmployeeManagement.WebUI.Models.EmployeeViewModel

<div class="item">
    <h3>Name: @Model.FirstName  @Model.LastName</h3>
    <h3>Sex: @Model.Sex</h3>
    <h3>ID: @Model.Id</h3>
    <h3>Department: @Model.DepartmentName</h3>
    @if (Model.ManagerId != null)
    {
        <h3>
                @Html.RouteLink("Manager",
                new
                {
                    controller = "Employee",
                    action = "GetManagerEmployee",
                    employeeId = Model.Id
                })
        </h3>
    }
    <h3>Profession: Developer</h3>
    <h3>Position: @Model.Position</h3>
</div>