@model EmployeeManagement.WebUI.Models.ManagerModel

<div class="item">
    <h3>Name: @Model.FirstName  @Model.LastName</h3>
    <h3>Sex: @Model.Sex</h3>
    <h3>ID: @Model.Id</h3>
    <h3>Department: @Model.DepartmentName</h3>
    @if (Model.ManagerId != null)
    {
        <h3>
            @Html.RouteLink("Manager",
                 new
                 {
                     controller = "Employee",
                     action = "GetManagerEmployee",
                     employeeId = Model.Id
                 })
        </h3>
    }
    <h3>Profession: Manager</h3>
    @if (Model.Employees.Count != 0)
    {
        <h3>
            @Html.RouteLink("Employees", new
            {
                controller = "Employee",
                action = "List",
                managerId = Model.Id,
                page = 1,
                category = (string)null
            }
                          )
        </h3>
    }
</div>